.container {
    display: flex;
    color:black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.label {
    align-self: flex-start;
    color:black;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    width: 100%; /* Hace que los inputs ocupen todo el ancho del formulario */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    width: 100%; /* Hace que el botón tenga el mismo ancho que los inputs */
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: darkblue;
}

.registerLink {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}
